<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand navbar-logo" href="#">
                <span class="glyphicon glyphicon-stats glyphicon-warning"></span>
                <span>CodeFiasco Polls</span>
            </a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <% if (user) { %>
                <li><a href="/logout" class="btn btn-danger">Log Out</a></li>
            <% } else { %>
                <li><a href="/login/twitter" class="btn btn-primary">Log In with Twitter</a></li>
            <% } %>
        </ul>
    </div>
</nav>