<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
        <% include ../partials/header %>
    </header>
    <div class="container">
        <main>
            <div class="jumbotron">
                <h1>Voting Polls</h1>
                <p>Create your own polls and participate in other user's polls!</p>
            </div>
            <% if (polls.length > 0) { %>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 well">
                        <h2>Current Polls:</h2>
                        <ul class="list-group">
                            <% for (var i=0; i < polls.length; i++) { %>
                                <li class="list-group-item">
                                    <a class="list-link"href="/poll/<%= polls[i].id %>">
                                        <%= polls[i].question %>
                                    </a>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            <% } %>
        </main>
    </div>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>