<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
        <% include ../partials/header %>
    </header>
    <div class="container">
        <main>
            <div class="jumbotron">
                <h1>Voting Polls</h1>
                <p>Create your own polls and participate in other user's polls!</p>
            </div>
        </main>
    </div>
    <a href="/login/twitter">Twiter Login</a>
    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>